.eunit
deps
*.o
*.plt
erl_crash.dump
ebin/*.beam
user_default.beam
!ebin/recon.beam
!ebin/recon_lib.beam
!ebin/recon_alloc.beam
!ebin/recon_trace.beam
rel/example_project
.concrete/DEV_MODE
.rebar
.DS_Store
.idea
*.iml
